@model cartoon 

<form action="/create" method="post">
    <label> Name:
        <input type ="text" name="name" >
    </label>

    <label> Age:
        <input type ="text" name="age">
    </label>

    <label> Show:
        <input type ="text" name="show">
    </label>

    <label> Old?:
        <input type ="text" name="IsOldSkool">
    </label>


    <input type="submit">

</form>